Repository trongtien/page-builder-cms: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: Config project add eslint config base project (#1)
  .husky/commit-msg
  eslint.config.mjs
  package.json
  packages/config/eslint/base.js
  packages/config/eslint/node.js
  packages/config/eslint/package.json
  packages/config/eslint/react.js
  packages/core/ui/eslint.config.mjs
  packages/core/ui/package.json
  packages/core/utils/eslint.config.mjs
  packages/core/utils/package.json
  packages/host-root/README.md
  packages/host-root/eslint.config.mjs
  packages/host-root/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Config project add config ai docs (#1)
  .ai-devkit.json
  .github/prompts/capture-knowledge.prompt.md
  .github/prompts/check-implementation.prompt.md
  .github/prompts/code-review.prompt.md
  .github/prompts/debug.prompt.md
  .github/prompts/execute-plan.prompt.md
  .github/prompts/new-requirement.prompt.md
  .github/prompts/review-design.prompt.md
  .github/prompts/review-requirements.prompt.md
  .github/prompts/update-planning.prompt.md
  .github/prompts/writing-test.prompt.md
  AGENTS.md
  docs/ai/deployment/README.md
  docs/ai/design/README.md
  docs/ai/implementation/README.md
  docs/ai/monitoring/README.md
  docs/ai/planning/README.md
  docs/ai/requirements/README.md
  docs/ai/testing/README.md
Due: prettier --write

feat: fix type eslint (#1)
  packages/core/utils/src/object.ts
Due: prettier --write, eslint --fix

docs: add docker-cicd-deployment feature documentation
  docs/ai/design/feature-docker-cicd-deployment.md
  docs/ai/implementation/feature-docker-cicd-deployment.md
  docs/ai/planning/feature-docker-cicd-deployment.md
  docs/ai/requirements/feature-docker-cicd-deployment.md
  docs/ai/testing/feature-docker-cicd-deployment.md
Due: prettier --write

feat(docker): add multi-stage Dockerfile for host-root
  .dockerignore
  packages/host-root/.dockerignore
  packages/host-root/Dockerfile
Due: none

feat(ci): add GitHub Actions workflow for Docker builds
  .github/workflows/docker-build.yml
Due: prettier --write

docs: update planning doc with completed tasks
  docs/ai/planning/feature-docker-cicd-deployment.md
Due: prettier --write

feat(ci): refine GitHub Actions workflow
  .github/workflows/docker-build.yml
  docs/ai/planning/feature-docker-cicd-deployment.md
Due: prettier --write

feat(config): add shared Tailwind CSS configuration package
  packages/config/tailwind/base.ts
  packages/config/tailwind/package.json
  packages/core/ui/package.json
  packages/core/ui/tailwind.config.ts
  packages/host-root/package.json
  packages/host-root/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(config): resolve ESLint errors in tailwind config
  packages/config/eslint/base.js
  packages/config/tailwind/base.ts
  packages/config/tailwind/tsconfig.json
Due: prettier --write, eslint --fix

fix(config): update tailwind tsconfig for proper TypeScript support
  packages/config/tailwind/tsconfig.json
Due: prettier --write

fix(config): use relative path for tsconfig extends
  packages/config/tailwind/tsconfig.json
Due: prettier --write

fix(config): add empty content array to shared tailwind config
  packages/config/tailwind/base.ts
Due: prettier --write, eslint --fix

fix(config): add empty content array to shared tailwind config
  .github/workflows/render-root-docker.yml
  packages/host-root/tsconfig.json
  packages/render-root/.gitignore
  packages/render-root/Dockerfile
  packages/render-root/app/main.tsx
  packages/render-root/app/pages/Home.tsx
  packages/render-root/app/routes/__root.tsx
  packages/render-root/app/routes/index.tsx
  packages/render-root/app/styles.css
  packages/render-root/app/vite-env.d.ts
  packages/render-root/eslint.config.mjs
  packages/render-root/index.html
  packages/render-root/package.json
  packages/render-root/postcss.config.js
  packages/render-root/tailwind.config.ts
  packages/render-root/tsconfig.json
  packages/render-root/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: resolve husky deprecation and TypeScript config error
  .husky/pre-push
  packages/host-root/tsconfig.json
Due: prettier --write

fix: resolve all TypeScript config and husky deprecation errors
  .husky/pre-commit
  packages/render-root/tsconfig.json
Due: prettier --write

chore: update TypeScript to 5.9.3 and add ignoreDeprecations 5.0
  package.json
  packages/host-root/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: resolve all TypeScript config and husky deprecation errors
  packages/host-root/tsconfig.json
  packages/render-root/tsconfig.json
Due: prettier --write

fix: Config base handler version package
  .vscode/settings.json
  package.json
  packages/config/eslint/package.json
  packages/config/tailwind/package.json
  packages/core/ui/package.json
  packages/core/utils/package.json
  packages/host-root/package.json
  packages/render-root/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

feat: add config apply shacdn ui
  packages/core/ui/SHADCN_INTEGRATION.md
  packages/core/ui/components.json
  packages/core/ui/package.json
  packages/core/ui/src/Button.tsx
  packages/core/ui/src/Card.tsx
  packages/core/ui/src/common/Button.tsx
  packages/core/ui/src/common/Card.tsx
  packages/core/ui/src/common/Loading.tsx
  packages/core/ui/src/common/badge.tsx
  packages/core/ui/src/common/index.ts
  packages/core/ui/src/hooks/index.ts
  packages/core/ui/src/index.ts
  packages/core/ui/src/layout/index.ts
  packages/core/ui/src/lib/utils.ts
  packages/core/ui/src/styles.css
  packages/core/ui/tailwind.config.ts
  packages/core/ui/tsconfig.json
  packages/core/ui/tsup.config.ts
Due: prettier --write, eslint --fix

fix: update fix error type host
  packages/core/ui/src/index.ts
  packages/host-root/src/components/ui/Button.tsx
  packages/host-root/src/components/ui/Card.tsx
  packages/render-root/app/pages/Home.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add component base layout
  packages/core/ui/src/contexts/index.ts
  packages/core/ui/src/hooks/index.ts
  packages/core/ui/src/hooks/useLayoutContext.tsx
  packages/core/ui/src/index.ts
  packages/core/ui/src/layout/index.ts
  packages/core/ui/src/layout/manager-layout/index.tsx
  packages/core/ui/src/types/index.ts
  packages/core/ui/src/types/manager-layout.type.ts
Due: prettier --write, eslint --fix

feat: clean component layout
  packages/core/ui/SHADCN_INTEGRATION.md
  packages/core/ui/src/contexts/LayoutContext.tsx
  packages/core/ui/src/contexts/index.ts
  packages/core/ui/src/hooks/useLayoutContext.tsx
  packages/core/ui/src/index.ts
  packages/core/ui/src/layout/ManagerLayout.tsx
  packages/core/ui/src/layout/index.ts
  packages/core/ui/src/layout/manager-layout/index.tsx
  packages/core/ui/src/molecules/Sidebar.tsx
  packages/core/ui/src/molecules/SidebarMenuItem.tsx
  packages/core/ui/src/molecules/UserMenu.tsx
  packages/core/ui/src/molecules/index.ts
  packages/host-root/package.json
  packages/host-root/src/routes/dashboard.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: Confgi nav bar
  packages/core/ui/package.json
  packages/core/ui/src/hooks/index.ts
  packages/core/ui/src/hooks/useFloatingSubMenu.tsx
  packages/core/ui/src/hooks/useFloatingTooltip.tsx
  packages/core/ui/src/layout/ManagerLayout.tsx
  packages/core/ui/src/molecules/Sidebar.tsx
  packages/core/ui/src/molecules/SidebarMenuItem.tsx
Due: prettier --write, eslint --fix

feat: Update config clear cache
  docs/ai/design/feature-fix-submenu-interaction.md
  docs/ai/design/feature-floating-submenu-hook.md
  docs/ai/implementation/feature-fix-submenu-interaction.md
  docs/ai/implementation/feature-floating-submenu-hook.md
  docs/ai/planning/feature-floating-submenu-hook.md
  docs/ai/requirements/feature-fix-submenu-interaction.md
  docs/ai/requirements/feature-floating-submenu-hook.md
  docs/ai/testing/feature-fix-submenu-interaction.md
  docs/ai/testing/feature-floating-submenu-hook.md
  packages/core/ui/src/molecules/Sidebar.tsx
  packages/core/ui/src/molecules/SidebarMenuItem.tsx
  packages/host-root/src/routes/__root.tsx
  packages/host-root/vite.config.ts
  packages/render-root/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: Refactor config remote pakagae eviroment dev
  packages/host-root/vite.config.ts
Due: prettier --write, eslint --fix

fix: Fix build ci cd
  docs/ai/design/feature-fix-cicd-docker-build-error.md
  docs/ai/design/feature-vite-monorepo-dev-aliases.md
  docs/ai/implementation/feature-fix-cicd-docker-build-error.md
  docs/ai/implementation/feature-vite-monorepo-dev-aliases.md
  docs/ai/planning/feature-fix-cicd-docker-build-error.md
  docs/ai/planning/feature-vite-monorepo-dev-aliases.md
  docs/ai/requirements/feature-fix-cicd-docker-build-error.md
  docs/ai/requirements/feature-vite-monorepo-dev-aliases.md
  docs/ai/testing/feature-fix-cicd-docker-build-error.md
  docs/ai/testing/feature-vite-monorepo-dev-aliases.md
  packages/core/ui/src/common/Button.tsx
  packages/core/ui/src/common/Card.tsx
  packages/core/ui/src/common/badge.tsx
  packages/core/ui/src/hooks/useLayoutContext.tsx
  packages/core/ui/tsup.config.ts
  packages/render-root/vite.config.ts
Due: prettier --write, eslint --fix

feat: update logic layout manager (#3)
  packages/config/eslint/react.mjs
  packages/core/ui/src/contexts/LayoutContext.tsx
  packages/core/ui/src/hooks/index.ts
  packages/core/ui/src/hooks/useManagerLayout.ts
  packages/core/ui/src/layout/ManagerLayout.tsx
  packages/core/ui/src/molecules/HeaderMenu.tsx
  packages/core/ui/src/molecules/Sidebar.tsx
  packages/core/ui/src/molecules/SidebarMenuItem.tsx
  packages/core/ui/src/molecules/UserMenu.tsx
  packages/core/ui/src/molecules/index.ts
  packages/core/ui/src/types/manager-layout.type.ts
  packages/host-root/src/routes/dashboard.tsx
Due: prettier --write, eslint --fix

feat: update type interface (#3)
  packages/core/ui/src/hooks/useManagerLayout.ts
  packages/core/ui/src/layout/ManagerLayout.tsx
  packages/core/ui/src/molecules/HeaderMenu.tsx
  packages/core/ui/src/molecules/Sidebar.tsx
  packages/core/ui/src/types/manager-layout.type.ts
Due: prettier --write, eslint --fix

fix: add layout login (#5)
  docs/ai/design/feature-user-authentication.md
  docs/ai/implementation/feature-user-authentication.md
  docs/ai/planning/feature-user-authentication.md
  docs/ai/requirements/feature-user-authentication.md
  docs/ai/testing/feature-user-authentication.md
  packages/config/eslint/react.mjs
  packages/host-root/eslint.config.mjs
  packages/host-root/src/features/auth/components/LoginForm.tsx
  packages/host-root/src/features/auth/contexts/AuthContext.tsx
  packages/host-root/src/features/auth/hooks/useAuth.ts
  packages/host-root/src/features/auth/hooks/useAuthActions.ts
  packages/host-root/src/features/auth/hooks/useAuthState.ts
  packages/host-root/src/features/auth/hooks/useAuthUser.ts
  packages/host-root/src/features/auth/index.ts
  packages/host-root/src/features/auth/services/auth.service.ts
  packages/host-root/src/features/auth/types/auth.types.ts
  packages/host-root/src/features/index.ts
  packages/host-root/src/routes/__root.tsx
  packages/host-root/src/routes/dashboard.tsx
  packages/host-root/src/routes/index.tsx
  packages/host-root/src/routes/login.tsx
  packages/host-root/src/types/index.ts
Due: prettier --write, eslint --fix

fix: convert eslint configs to .mts and disable only-throw-error rule
  .vscode/settings.json
  eslint.config.mjs
  packages/config/eslint/.eslintignore
  packages/config/eslint/base.mts
  packages/config/eslint/eslint.config.mjs
  packages/config/eslint/node.mts
  packages/config/eslint/package.json
  packages/config/eslint/react.mts
  packages/config/eslint/tsconfig.json
  packages/core/ui/eslint.config.mjs
  packages/core/utils/eslint.config.mjs
  packages/host-root/eslint.config.mjs
  packages/host-root/src/routes/dashboard.tsx
  packages/render-root/eslint.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

fix: resolve duplicate User type export in features
  packages/host-root/src/features/auth/services/auth.service.ts
  packages/host-root/src/features/auth/types/auth.types.ts
  packages/host-root/src/features/index.ts
Due: prettier --write, eslint --fix

fix: convert eslint configs to .mts and disable only-throw-error rule
  packages/host-root/src/features/auth/index.ts
  packages/host-root/src/features/auth/services/auth.service.ts
  packages/host-root/src/features/auth/types/auth.types.ts
  packages/host-root/src/features/index.ts
Due: prettier --write, eslint --fix

refactor: move shared dependencies to root package.json
  package.json
  packages/host-root/package.json
  packages/render-root/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: consolidate duplicate devDependencies to root package.json
  package.json
  packages/core/ui/package.json
  packages/core/utils/package.json
  packages/host-root/package.json
  packages/render-root/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(node-config): add environment configuration loader package
  eslint.config.mjs
  packages/config/tsconfig/node.json
  packages/core/node-config/.env.example
  packages/core/node-config/README.md
  packages/core/node-config/eslint.config.mts
  packages/core/node-config/package.json
  packages/core/node-config/src/database.config.ts
  packages/core/node-config/src/index.ts
  packages/core/node-config/src/jwt.config.ts
  packages/core/node-config/src/load-config.ts
  packages/core/node-config/src/node-config.type.ts
  packages/core/node-config/src/testing.config.ts
  packages/core/node-config/src/validate-error.ts
  packages/core/node-config/test/config.test.ts
  packages/core/node-config/test/database.config.test.ts
  packages/core/node-config/test/errors.test.ts
  packages/core/node-config/test/jwt.config.test.ts
  packages/core/node-config/test/testing.config.test.ts
  packages/core/node-config/tsconfig.build.json
  packages/core/node-config/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(node-config): exclude test files from type checking
  docs/ai/design/feature-env-config-loader.md
  docs/ai/implementation/feature-env-config-loader.md
  docs/ai/planning/feature-env-config-loader.md
  docs/ai/requirements/feature-env-config-loader.md
  docs/ai/testing/feature-env-config-loader.md
  packages/core/node-config/eslint.config.mts
  packages/core/node-config/tsconfig.eslint.json
  packages/core/node-config/tsconfig.json
Due: prettier --write

feat(host-root): update layout login
  example/login.html
  packages/host-root/src/features/auth/components/LoginForm.tsx
  packages/host-root/src/features/auth/types/auth.types.ts
  packages/host-root/src/routes/__root.tsx
  packages/host-root/src/routes/login.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx}
